<!--suppress ALL -->

<style>
  .loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #9e8127; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>

<script src="/js/utils/echarts.js"></script>
<script src="/js/utils/moment.min.js"></script>

<link rel="stylesheet" href="/js/ol/ol.css">
<script src="/js/ol/ol.js"></script>
<script src="/js/utils/jquery.js"></script>

<style>
  .map {
    width: 100%;
    height: 500px;
  }

  #mpa{
    z-index: 1;
    background-color: #f2f1f0!important;
  }
  #tooltip{
    background-color: white;
    padding: 5px 15px;
    border:0.15px solid rgba(0,0,0,0.3);
    -webkit-box-shadow: 10px 10px 17px -7px rgba(0,0,0,0.32);
    -moz-box-shadow: 10px 10px 17px -7px rgba(0,0,0,0.32);
    box-shadow: 10px 10px 17px -7px rgba(0,0,0,0.32);
  }
  #leyend{
    width: 250px;
    height: 200px;
    background-color: rgba(255,255,255,0.6);
    border:0.15px solid rgba(0,0,0,0.3);
    margin-top: -205px;
    margin-left: 5px;
    z-index: 10;
    position: relative;
    padding: 15px;
    font-size: 10pt;

  }
  .container{
    padding-top: 20px;

  }

  .element{
    padding: 5px;
  }
  .leyend-icon{
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
  }

  #icon-zone{
    border:solid 1px rgba(0,0,0,0.3);
  }

  #icon-tramo{
    margin-top: 7.5px;
    border-top: solid 2px rgb(0,0,0);
  }

  #circle-pitch{
    background-color: #dbae1d;
    border-radius: 100%;
  }
  #circle-bias{
    background-color: #013042;
    border-radius: 100%;
  }
  #circle-rack{
    background-color: #7c9d94;
    border-radius: 100%;
  }

  .material-icons:hover{
    cursor: pointer;
  }



</style>

<!--<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.0.3/build/ol.js"></script>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>-->

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <div class='input-group date' >
          <input type='date' id='datetimepicker1' class="form-control" placeholder="Desde:"/>

        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <div class='input-group date' >
          <input type='date' id='datetimepicker2' class="form-control" placeholder="Hasta:" />

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">

        <button class="btn btn-primary" id="search">
          <i class="material-icons align-middle">
            search
          </i> Buscar
        </button>

        <button class="btn" data-toggle="modal" data-target=".bd-example-modal-lg">
        <i class="material-icons align-middle"  >
          insert_chart
        </i>Gráficos
        </button>

      </div>

    </div>



  </div>
</div>

<div id="map" class="map"></div>

<div id="loader-map" class="map" style="background-color: rgba(255,255,255,0.6); position: relative;z-index: 20;margin-top: -600px;padding: 270px !important;">
    <div class="loader" style="margin: auto"></div>
</div>

<div id="tooltip" style="display: none">
</div>

<div id="leyend">
  <h6><strong>Leyenda</strong></h6>
  <div class="element">
    <div class="leyend-icon" id="circle-pitch"></div>
    <span class="leyend-desc">Maximum Pitch/Second</span>
  </div>
  <div class="element">
    <div class="leyend-icon" id="circle-bias"></div>
    <span class="leyend-desc">Maximum Bias/Second</span>
  </div>
  <div class="element">
    <div class="leyend-icon" id="circle-rack"></div>
    <span class="leyend-desc">Maximum Rack/Second</span>
  </div>
  <div class="element">
    <div class="leyend-icon" id="icon-zone"></div>
    <span class="leyend-desc">Zonas</span>
  </div>
  <div class="element">
    <div class="leyend-icon" id="icon-tramo"></div>
    <span class="leyend-desc">Carretera</span>
  </div>
</div>

<!--Modals-->
<div class="modal fade bd-example-modal-lg " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="exampleModalLabel">Reporte</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-inline">

          <div class="input-group mb-3 mr-sm-3">
            <select name="" id="years" class="custom-select filter-chart">
              <option selected>Years</option>
            </select>
          </div>

          <div class="input-group mb-3 mr-sm-3">
            <select name="" id="months" class="custom-select filter-chart" disabled>
              <option selected>Months</option>
            </select>
          </div>

          <div class="input-group mb-3 mr-sm-3">
            <select name="" id="weeks" class="custom-select filter-chart" disabled>
              <option selected>Weeks</option>
            </select>
          </div>

          <div class="input-group mb-3 mr-sm-3">
            <select name="" id="days" class="custom-select filter-chart" disabled>
              <option selected>Days</option>
            </select>
          </div>

          <div class="input-group mb-3 mr-sm-3">
            <select name="" id="shifts" class="custom-select filter-chart" disabled>
              <option selected>Shifts</option>
            </select>
          </div>

          <div class="input-group mb-3 mr-sm-3 float-right" >
            <button class="btn btn-primary" id="refresh-charts">Actualizar</button>
          </div>

          <div class="input-group mb-3 mr-sm-3 float-right" >
            <button class="btn btn-default" id="clean-inputs"><i class="material-icons align-middle"  >
                restore_page
              </i></button>
          </div>


        </div>

        <div class="row h-300 align-items-center" id="loader-content">
          <div class="col-md-12">
            <div class="loader" style="margin: auto"></div>
          </div>
        </div>

        <div class="row charts_content" style="display: none;">
          <div class="col-md-12">
            <div id="chart-time" style="height: 400px;width: 750px;">

            </div>
          </div>
        </div>

        <div class="row charts_content" style="display: none;">
          <div class="col-md-6">
            <div id="chart-operator" style="height: 250px;width: 350px;">

            </div>
          </div>
          <div class="col-md-6">
            <div id="chart-equipment" style="height: 250px;width: 350px;">

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>



<script type="text/javascript">

  /**
   * Globals variables
   */
  let alerts=[];

  let categorysMain=[];

  let shifts=[[8,9,10,11,12,13,14,15,16,17,18,19],[20,21,22,23,0,1,2,3,4,5,6,7]];

  let num_zone=19;
  let letter_zone="L";

  let now = new Date();

  let tiem_inicio=now.getFullYear()+'-01-01';
  let tiem_fin=now.getFullYear()+'-12-31';



  class InfoDate {
    constructor(y) {
      if(y){
        this.year=y;
      }else{
        this.year= moment().year();
      }

      this.months=[
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
        'July',
        'August',
        'September',
        'October',
        'November',
        'December'
      ];

     this.weeksByMonth=[];
     this.daysByWeek=[];
     this.monthsByWeek=[];

     this.calculateData();

    }

    getMonths(){
      return this.months;
    }

    getMonthsByWeek(week,dayindex){
      return this.monthsByWeek[week][dayindex];
    }

    getWeeksOfMonth(month){
      return this.weeksByMonth[month-1];
    }

    getDaysOfWeeks(week){
      return this.daysByWeek[week-1];
    }

    getWeeks(){
      return this.weeksByMonth;
    }

    getDays(){
      return this.daysByWeek;
    }

    calculateData(){
      let selectDate=this.year+'-01-01';

      this.weeksByMonth=[[],[],[],[],[],[],[],[],[],[],[],[]];

      do{

        //console.log(moment(selectDate).format('YYYY-MM-DD'));

        let month=moment(selectDate).month();
        let week=moment(selectDate).isoWeek();
        if(this.weeksByMonth[month].indexOf(week)<0){
          this.weeksByMonth[month].push(week);
          let w=[];
          let w2=[];
          this.daysByWeek.push(w);
          this.monthsByWeek.push(w2);
        }



        selectDate=moment(selectDate).add(1,'w').format('YYYY-MM-DD');

      }while(moment(selectDate).year()==this.year);

      selectDate=this.year+'-01-01';
      do{

        let month=moment(selectDate).month();
        let week=moment(selectDate).isoWeek();
        let day=moment(selectDate).date();
        if(week==1 && month==11){
          week =this.daysByWeek.length;
        }
        if(this.daysByWeek[week-1].indexOf(day)<0){
          this.daysByWeek[week-1].push(day);
          this.monthsByWeek[week-1].push(month);
        }

        selectDate=moment(selectDate).add(1,'d').format('YYYY-MM-DD');

      }while(moment(selectDate).year()==this.year);

    }

  }


  let infoDate = new InfoDate();

  //console.log(infoDate.getMonths());
  //console.log(infoDate.getWeeks());
  //console.log(infoDate.getDays());


  $("#datetimepicker1").val(tiem_inicio);
  $("#datetimepicker2").val(tiem_fin);

  let map = new ol.Map({
    target: 'map',
    layers: [
      /*new ol.layer.Tile({
        source: new ol.source.OSM()
      })*/
    ],
    view: new ol.View({
      center: ol.proj.fromLonLat([-71.7899116,-14.471667]),
      zoom: 15
    })
  });





  let year=now.getFullYear();
  let month='';
  let week='';
  let day='';
  let shift='';

  let subTitle='';

  //Charts
  let chartTime=echarts.init(document.getElementById('chart-time'), 'dark');
  let chartOperator=echarts.init(document.getElementById('chart-operator'), 'dark');
  let chartEquipment=echarts.init(document.getElementById('chart-equipment'), 'dark');

  let series=['Pitch','Bias','Rack'];
  let colorSeries=['#dbae1d','#013042','#7c9d94'];


  $("#refresh-charts").click(function(){
    $("#loader-content").show();
    $(".charts_content").hide();
    getDataCharts('ByTime','A');
    getDataCharts('ByOperator','B');
    getDataCharts('ByEquipment','C');
  })

  $("#clean-inputs").click(function(){

    setOptions('months',[],[]);
    setOptions('weeks',[],[]);
    setOptions('days',[],[]);
    setOptions('shifts',[],[]);

    month='';
    week='';
    day='';
    shift='';

    $("#months").attr('disabled','true');
    $("#weeks").attr('disabled','true');
    $("#days").attr('disabled','true');
    $("#shifts").attr('disabled','true');


  })


  $("#datetimepicker1").change(function () {
    tiem_inicio=$("#datetimepicker1").val();
    //tiem_inicio = moment($("#datetimepicker1").val()).format("YYYY-MM-DD");
  })

  $("#datetimepicker2").change(function () {
    tiem_fin=$("#datetimepicker2").val();
    // /tiem_fin = moment($("#datetimepicker2").val()).format("YYYY-MM-DD");
  })

  $("#search").click(function(){
    $("#loader-map").show();
    clearMap('points');
    getAlertsVims();
  })

  $(".filter-chart").change(async function(){


    if($(this).attr('id')==='years' && $(this).val()!=''){
      year=$(this).val();
      subTitle=year;
      infoDate = new InfoDate(year);
      categorysMain=infoDate.getMonths();
      setOptions('months',[1,2,3,4,5,6,7,8,9,10,11,12],infoDate.getMonths());
      month='';
      week='';
      day='';
      shift='';


    }

    if($(this).attr('id')==='months' && $(this).val()!=''){
      month=$(this).val();
      subTitle=$("option:selected", this).text();

      setOptions('weeks',infoDate.getWeeksOfMonth(month),infoDate.getWeeksOfMonth(month));
      week='';
      day='';
      shift='';
      categorysMain=infoDate.getWeeksOfMonth(month)

    }

    if($(this).attr('id')==='weeks' && $(this).val()!=''){
      week=$(this).val();
      subTitle='Week '+week;
      setOptions('days',infoDate.getDaysOfWeeks(week),infoDate.getDaysOfWeeks(week));
      day='';
      shift='';
      categorysMain=infoDate.getDaysOfWeeks(week);

    }

    if($(this).attr('id')==='days' && $(this).val()!=''){
      day=$(this).val();
      subTitle='Day '+day;
      month=infoDate.getMonthsByWeek(week,infoDate.getDaysOfWeeks(week).indexOf(parseInt(day)));
      shift='';
      //alert(infoDate.getMonthsByWeek(week,infoDate.getDaysOfWeeks(week).indexOf(parseInt(day))));
      setOptions('shifts',['A','B'],['A','B']);
      categorysMain=['A','B'];
    }

    if($(this).attr('id')==='shifts' && $(this).val()!=''){
      shift=$(this).val();
      subTitle='Shift '+shift;
      if(shift=='A'){
        categorysMain=shifts[0];
      }else{
        categorysMain=shifts[1];
      }


    }

  })

  /**
   * Init
   */


  let years=[
    2018,
    2017,
    2016,
    2015
  ];

  $("#months").attr('disabled','true');
  $("#weeks").attr('disabled','true');
  $("#days").attr('disabled','true');
  $("#shifts").attr('disabled','true');

  setOptions('years',years,years);


  getZones();
  //getOptions('Years');

  initCharts();



  /**
   * Function for init app
   *
   * */
  function initCharts(){
    infoDate = new InfoDate(year);
    categorysMain=infoDate.getMonths();
    subTitle=year;

    getDataCharts('ByTime','A');
    getDataCharts('ByOperator','B');
    getDataCharts('ByEquipment','C');
  }


  /**
   * Functions for get data
   * */

  function getAlertsVims(){
    let src=`/AlertasVims/getAlerts?tiem_inicio=${tiem_inicio}&tiem_fin=${tiem_fin}`;
    $.ajax({
      url:src
    }).done(function(data){
      alerts=data;
      console.log(alerts);
      drawPoints(alerts);
    })
  }

  function getZones(){
    let src=`/AlertasVims/getZones`;
    $.ajax({
      url:src
    }).done(function(data){
      let zones=data;
      //console.log(zones);
      drawZones(zones);
    })
  }

  function getTramos(){
    let src=`/AlertasVims/getTramos`;
    $.ajax({
      url:src
    }).done(function(data){
      let tramos=data;
      console.log(tramos);
      drawTramos(tramos);
    })
  }

  function getDataCharts(source,type){

    let src=`/AlertasVims/get${source}?year=${year}&month=${month}&week=${week}&day=${day}&shift=${shift}`;
    $.ajax({
      url:src
    }).done(function(data){
        refreshChart(data,type);
    })
  }

  /**
   * Functions for DOM Control
   */
 function setOptions(select,keys,options){

    let html=`<option>${select}</option>`;
    options.forEach(function(option,i){
      html+=`<option value="${keys[i]}">${options[i]}</option>`;
    })

    $("#"+select).html(html);
    $("#"+select).removeAttr('disabled');

  }


  /**
   * Functions of charts
   */

  function setOptionChartA(chart,categorys,dataSeries){
    option = {
      title : {
        text: 'Tendencia',
        subtext: subTitle
      },
      tooltip : {
        trigger: 'axis'
      },
      legend: {
        data:series
      },
      toolbox: {
        show : true,
        feature : {
          magicType : {show: true, type: ['line', 'bar']},
          restore : {show: true},
          saveAsImage : {show: true}
        }
      },
      calculable : true,
      xAxis : [
        {
          type : 'category',
          data : categorys
        }
      ],
      yAxis : [
        {
          type : 'value'
        }
      ],
      series : dataSeries,
      color:colorSeries
    };

    chart.setOption(option);

  }

  function setOptionChartB(chart,categorys,dataSeries){

    option = {
      title: {
        text: 'Operadores',
        subtext: subTitle
      },
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'shadow'
        }
      },
      legend: {
        data: series,
        orient: 'horizontal',
        x: 'right'
      },
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
      xAxis: {
        type: 'value',
        boundaryGap: [0, 0.01]
      },
      yAxis: {
        type: 'category',
        data: categorys
      },
      series: dataSeries,
      color:colorSeries
    };
    chart.setOption(option);
  }

  function setOptionChartC(chart,categorys,dataSeries){

    option = {
      title: {
        text: 'Equipo',
        subtext: subTitle
      },
      tooltip : {
        trigger: 'axis',
        axisPointer : {
          type : 'shadow'
        }
      },
      legend: {
        data: series,
        orient: 'horizontal',
        x: 'right',
      },
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
      xAxis:  {
        type: 'value'
      },
      yAxis: {
        type: 'category',
        data: categorys
      },
      series: dataSeries,
      color:colorSeries
    };

    chart.setOption(option);
  }

  function refreshChart(data,type){

    let finalData=convertDataForChart(data,type);

    if(type==='C'){
      let resSeries=[];
      finalData.series.forEach(function(serie){
        console.log(serie);
        let s={
          name: serie.name,
          type: 'bar',
          stack: '总量',
          label: {
            normal: {
              show: true,
              position: 'insideRight'
            }
          },
          data: serie.datos
        }

        resSeries.push(s);
      })

      setOptionChartC(chartEquipment,finalData.categorys,resSeries);

    }

    if(type==='A'){
      let resSeries=[]
      finalData.series.forEach(function(serie){
        let s={
          name: serie.name,
          type: 'bar',
          data: serie.datos
        };

        resSeries.push(s);
      })
      setOptionChartA(chartTime,finalData.categorys,resSeries);
    }

    if(type==='B'){
      let resSeries=[]
      finalData.series.forEach(function(serie){
        console.log(serie.color)
        let s={
          name: serie.name,
          type: 'bar',
          data: serie.datos
        };

        resSeries.push(s);
      })
      setOptionChartB(chartOperator,finalData.categorys,resSeries);
    }


    $("#loader-content").hide();
    $(".charts_content").show();
  }

  function convertDataForChart(data,type){
    let categorys=[];
    if(type=='A'){
      categorys=categorysMain;
    }else{
      //obtenemos las categorias en la data
      data.forEach(function(el){
        if(categorys.indexOf(el.category)==-1){
          categorys.push(el.category);
        }

      })
    }

    let dataChart={};
    dataChart.categorys=categorys;
    dataChart.series=[];

    //ingresamos arreglos vacios para registrar datos de cada serie
    series.forEach(function(serie,i){
      let newSerie={name:serie,datos:[],color:colorSeries[i]};
      //ingresamos un valor inicial a cada elemento de cada seri
      categorys.forEach(function(cat){
        newSerie.datos.push(0);
      })

      dataChart.series.push(newSerie);
    })




    //llenamos la data
    data.forEach(function(el){
      series.forEach(function(serie,s){
        categorys.forEach(function (category,c) {

          if(el.category==category && el.nombre_alerta.indexOf(serie)>-1){
            dataChart.series[s].datos[c]= parseInt(dataChart.series[s].datos[c])+parseInt(el.total);
          }
        })
      })
    })


    console.log(dataChart);
    return dataChart;


  }


  /**
   * Maps functions
   */


        /**
         * Draw points
         */

        function drawPoints(points) {



          let vectorSource = new ol.source.Vector({});
          let vector = new ol.layer.Vector({source: vectorSource});
          vector.name='points';
          vector.setProperties({'name': 'vector'})

          $.each(points, function (index, point) {




              //validating and setting icon & color of marker according to his type
              let type = "default";
              let icon = "";
              if (point.nombre_alerta.indexOf("Rack")>-1) {
                icon = new ol.style.Icon({src: '/icons/green.png', scale: [0.7]});
                type = "Rack";
              } else if (point.nombre_alerta.indexOf("Bias")>-1) {
                icon = new ol.style.Icon({src: '/icons/yellow.png', scale: [0.7]});
                type = "Bias";
              } else if (point.nombre_alerta.indexOf("Pitch")>-1) {
                icon = new ol.style.Icon({src: '/icons/red.png', scale: [0.7]});
                type = "Pitch";
              }



              //Validating null coords and getting lat and lot from ping
              let lat = "--";
              let long = "--";

              if(point.coordenadax>1000000 || point.coordenaday>10000000){
                let tempx=point.coordenadax/100;
                let tempy=point.coordenaday/100;

                point.coordenadax=tempx;
                point.coordenaday=tempy;
              }

              if (point.coordenadax != "null" && point.coordenaday != "null" &&
                point.coordenadax != null && point.coordenaday != null &&
                point.coordenadax != "undefined" && point.coordenaday != "undefined" &&
                point.coordenadax != "0" && point.coordenaday != "0" && point.coordenadax != "" &&
                point.coordenaday != "" && point.coordenadax != "NaN" && point.coordenaday != "NaN" &&
                point.coordenadax>100000 && point.coordenadax<=1000000 &&
                point.coordenaday>0 && point.coordenaday<=10000000) {



                let coord_geo=toLatLon(point.coordenadax,point.coordenaday,num_zone,letter_zone);

                long = coord_geo.longitude;
                lat = coord_geo.latitude;


                //long = point.coordenadax/10000;
                //lat = point.coordenaday/10000;
                //console.log(long+"--"+lat);

                // map_center = ol.proj.fromLonLat([-78.629653, -6.767565]);
                //map_center = ol.proj.fromLonLat( [long,lat] );
                zoom = 15;



                  let feature = new ol.Feature(new ol.geom.Point(ol.proj.fromLonLat([long,lat])));
                  feature.setStyle(new ol.style.Style({
                    image: icon
                  }));

                  feature.point=point;

                  vectorSource.addFeature(feature);



              }



          });

          map.addLayer(vector);

          // map.getView().animate({
          // 	center: map.getView().setCenter(map_center),
          // 	zoom: map.getView().setZoom(zoom)
          // });

          var tooltip = document.getElementById('tooltip');
          var overlay = new ol.Overlay({
            element: tooltip,
            offset: [10, 0],
            positioning: 'bottom-left'
          });
          map.addOverlay(overlay);

          function displayTooltip(evt) {
            var pixel = evt.pixel;
            var feature = map.forEachFeatureAtPixel(pixel, function(feature) {
              return feature;
            });
            tooltip.style.display = feature ? '' : 'none';

            if (feature) {
              if(feature.point){
                overlay.setPosition(evt.coordinate);
                let html=`<strong style="font-size:12pt;font-family: 'Helvetica Neue'">${feature.point.nombre_alerta} - ${feature.point.mensaje}</strong></br>
                          <span style="font-size:9pt;font-family: 'Helvetica Neue'">${feature.point.apellidop} ${feature.point.apellidom} ${feature.point.nombre}</span></br>
                          <strong style="font-size:9pt;font-family: 'Helvetica Neue';color: rgba(0,0,0,0.3)">${feature.point.nombre_equipo}</strong>
                          <span style="font-size:9pt;font-family: 'Helvetica Neue'">${moment(feature.point.tiem_suceso).format('YYYY-MM-DD hh:mm:ss a')}</span>`;
                tooltip.innerHTML = html;

                }else{
                tooltip.style.display='none';
              }

            }


          };

          map.on('pointermove', displayTooltip);
          $("#loader-map").hide();
        }


        /**
         * Draw Zones
         */

        function drawZones(zones){


          let vectorSource = new ol.source.Vector({});
          let vector = new ol.layer.Vector({source: vectorSource});
          vector.name='zones';
          vector.setProperties({'name': 'polygons'})

          //recorrer
          zones.forEach(function(zone){

            var polygon = new ol.geom.Polygon([getArrayCoordinates(zone)]);
            polygon.transform('EPSG:4326', 'EPSG:3857');
            var feature = new ol.Feature(polygon);

            feature.setStyle(new ol.style.Style({
              fill: new ol.style.Fill({ color: 'rgba(255,255,255,0.3)', width: 4 }),
              stroke: new ol.style.Stroke({
                color: 'rgba(0,0,0,0.3)', width: 1
              }),
              text: new ol.style.Text({
                font: '11px Verdana',
                fill: new ol.style.Fill({ color: '#fff', width: 4 }),
                stroke: new ol.style.Stroke({
                  color: '#000', width: 2
                }),
                //offsetY: '25',
                // get the text from the feature - `this` is ol.Feature
                // and show only under certain resolution
                text: zone.nombre
              })

            }));

            vectorSource.addFeature(feature);
          })


          //fin


          map.addLayer(vector);

          //
          getTramos();
          //console.log(zones);
        }


        /**
         *Draw Lines
         */
        function drawTramos(tramos){

          let vectorSource = new ol.source.Vector({});
          let vector = new ol.layer.Vector({source: vectorSource});
          vector.name='tramos';
          vector.setProperties({'name': 'lines'})


          tramos.forEach(function(tramo){

            let points=getCurveBezier(tramo.xinicio/100,tramo.yinicio/100,
              tramo.xpc1/100,tramo.ypc1/100,tramo.xpc2/100,tramo.ypc2/100,
              tramo.xfin/100,tramo.yfin/100,30);


            points=convertToGeoCoords(points);
            points=formatLine(points);
            //console.log(points);
            let line = new ol.geom.LineString(points);
            line.transform('EPSG:4326', 'EPSG:3857');
            let feature = new ol.Feature(
              {geometry:line,
                name:'line'});


            feature.setStyle(new ol.style.Style({
              stroke: new ol.style.Stroke({
                color: 'rgba(0,0,0,.7)',
                width: 2
              })

            }));

            vectorSource.addFeature(feature);

          });


          map.addLayer(vector);

          //get points from year
          getAlertsVims();


        }


        /**
         * Remove layers type vector of map
         * */
        function clearMap(type){
    map.getLayers().forEach(function (layer, i) {
      if (layer instanceof ol.layer.Vector) {
        if(layer.name===type){
          map.removeLayer(layer);
        }
      }
    });
  }



  /**
   * Helpers Data
   */

  function formatLine(points){
    let coords=[];
    points.forEach(function(point){
      let coor=[point.longitude,point.latitude];
      coords.push(coor);
    })
    return coords;

  }

  function convertToGeoCoords(coords){
    let points=[];
    coords.forEach(function(coor){

      let point=toLatLon(coor[0],coor[1],num_zone,letter_zone);
      points.push(point);
    })
    return points;
  }

  function getArrayCoordinates(zone){
    let coors=[];

    zone.coorxarray.forEach(function(coorx,i){

      let point=toLatLon(zone.coorxarray[i]/100, zone.cooryarray[i]/100, num_zone, letter_zone);

      coors.push([point.longitude,point.latitude]);
      if(i===zone.coorxarray.length-1){
        let point=toLatLon(zone.coorxarray[0]/100, zone.cooryarray[0]/100, num_zone, letter_zone);
        coors.push([point.longitude,point.latitude]);

      }
    })

    return coors;
  }

  function getCurveBezier(x1,y1,x2,y2,x3,y3,x4,y4,points){
    let interval=1/points;
    let t=0;

    let coords=[];
    for(let i=0;i<=points;i++){


      let x = (1 - t) * (1 - t) *(1 - t) * x1
        + 3 * (1 - t) * (1 - t) * t * x2
        + 3 * (1 - t) * t * t * x3
        + t * t * t * x4;


      let y = (1 - t) * (1 - t) *(1 - t) * y1
        + 3 * (1 - t) * (1 - t) * t * y2
        + 3 * (1 - t) * t * t * y3
        + t * t * t * y4;


      let coor=[x,y];


      coords.push(coor);
      t+=interval;
    }

    return coords;
  }



  /**
   * UTM Functions
   */

  var K0 = 0.9996;

  var E = 0.00669438;
  var E2 = Math.pow(E, 2);
  var E3 = Math.pow(E, 3);
  var E_P2 = E / (1 - E);

  var SQRT_E = Math.sqrt(1 - E);
  var _E = (1 - SQRT_E) / (1 + SQRT_E);
  var _E2 = Math.pow(_E, 2);
  var _E3 = Math.pow(_E, 3);
  var _E4 = Math.pow(_E, 4);
  var _E5 = Math.pow(_E, 5);

  var M1 = 1 - E / 4 - 3 * E2 / 64 - 5 * E3 / 256;
  var M2 = 3 * E / 8 + 3 * E2 / 32 + 45 * E3 / 1024;
  var M3 = 15 * E2 / 256 + 45 * E3 / 1024;
  var M4 = 35 * E3 / 3072;

  var P2 = 3 / 2 * _E - 27 / 32 * _E3 + 269 / 512 * _E5;
  var P3 = 21 / 16 * _E2 - 55 / 32 * _E4;
  var P4 = 151 / 96 * _E3 - 417 / 128 * _E5;
  var P5 = 1097 / 512 * _E4;

  var R = 6378137;

  var ZONE_LETTERS = 'CDEFGHJKLMNPQRSTUVWXX';

  function toLatLon(easting, northing, zoneNum, zoneLetter, northern, strict) {
    strict = strict !== undefined ? strict : true;

    if (!zoneLetter && northern === undefined) {
      throw new Error('either zoneLetter or northern needs to be set');
    } else if (zoneLetter && northern !== undefined) {
      throw new Error('set either zoneLetter or northern, but not both');
    }

    if (strict) {
      if (easting < 100000 || 1000000<=easting) {
        throw new RangeError('easting out of range (must be between 100 000 m and 999 999 m)');
      }
      if (northing < 0 || northing > 10000000) {
        throw new RangeError('northing out of range (must be between 0 m and 10 000 000 m)');
      }
    }
    if (zoneNum < 1 || zoneNum > 60) {
      throw new RangeError('zone number out of range (must be between 1 and 60)');
    }
    if (zoneLetter) {
      zoneLetter = zoneLetter.toUpperCase();
      if (zoneLetter.length !== 1 || ZONE_LETTERS.indexOf(zoneLetter) === -1) {
        throw new RangeError('zone letter out of range (must be between C and X)');
      }
      northern = zoneLetter >= 'N';
    }

    var x = easting - 500000;
    var y = northing;

    if (!northern) y -= 1e7;

    var m = y / K0;
    var mu = m / (R * M1);

    var pRad = mu +
      P2 * Math.sin(2 * mu) +
      P3 * Math.sin(4 * mu) +
      P4 * Math.sin(6 * mu) +
      P5 * Math.sin(8 * mu);

    var pSin = Math.sin(pRad);
    var pSin2 = Math.pow(pSin, 2);

    var pCos = Math.cos(pRad);

    var pTan = Math.tan(pRad);
    var pTan2 = Math.pow(pTan, 2);
    var pTan4 = Math.pow(pTan, 4);

    var epSin = 1 - E * pSin2;
    var epSinSqrt = Math.sqrt(epSin);

    var n = R / epSinSqrt;
    var r = (1 - E) / epSin;

    var c = _E * pCos * pCos;
    var c2 = c * c;

    var d = x / (n * K0);
    var d2 = Math.pow(d, 2);
    var d3 = Math.pow(d, 3);
    var d4 = Math.pow(d, 4);
    var d5 = Math.pow(d, 5);
    var d6 = Math.pow(d, 6);

    var latitude = pRad - (pTan / r) *
      (d2 / 2 -
        d4 / 24 * (5 + 3 * pTan2 + 10 * c - 4 * c2 - 9 * E_P2)) +
      d6 / 720 * (61 + 90 * pTan2 + 298 * c + 45 * pTan4 - 252 * E_P2 - 3 * c2);
    var longitude = (d -
      d3 / 6 * (1 + 2 * pTan2 + c) +
      d5 / 120 * (5 - 2 * c + 28 * pTan2 - 3 * c2 + 8 * E_P2 + 24 * pTan4)) / pCos;

    return {
      latitude: toDegrees(latitude),
      longitude: toDegrees(longitude) + zoneNumberToCentralLongitude(zoneNum)
    };
  }

  function fromLatLon(latitude, longitude, forceZoneNum) {
    if (latitude > 84 || latitude < -80) {
      throw new RangeError('latitude out of range (must be between 80 deg S and 84 deg N)');
    }
    if (longitude > 180 || longitude < -180) {
      throw new RangeError('longitude out of range (must be between 180 deg W and 180 deg E)');
    }

    var latRad = toRadians(latitude);
    var latSin = Math.sin(latRad);
    var latCos = Math.cos(latRad);

    var latTan = Math.tan(latRad);
    var latTan2 = Math.pow(latTan, 2);
    var latTan4 = Math.pow(latTan, 4);

    var zoneNum;

    if (forceZoneNum === undefined) {
      zoneNum = latLonToZoneNumber(latitude, longitude);
    } else {
      zoneNum = forceZoneNum;
    }

    var zoneLetter = latitudeToZoneLetter(latitude);

    var lonRad = toRadians(longitude);
    var centralLon = zoneNumberToCentralLongitude(zoneNum);
    var centralLonRad = toRadians(centralLon);

    var n = R / Math.sqrt(1 - E * latSin * latSin);
    var c = E_P2 * latCos * latCos;

    var a = latCos * (lonRad - centralLonRad);
    var a2 = Math.pow(a, 2);
    var a3 = Math.pow(a, 3);
    var a4 = Math.pow(a, 4);
    var a5 = Math.pow(a, 5);
    var a6 = Math.pow(a, 6);

    var m = R * (M1 * latRad -
      M2 * Math.sin(2 * latRad) +
      M3 * Math.sin(4 * latRad) -
      M4 * Math.sin(6 * latRad));
    var easting = K0 * n * (a +
      a3 / 6 * (1 - latTan2 + c) +
      a5 / 120 * (5 - 18 * latTan2 + latTan4 + 72 * c - 58 * E_P2)) + 500000;
    var northing = K0 * (m + n * latTan * (a2 / 2 +
      a4 / 24 * (5 - latTan2 + 9 * c + 4 * c * c) +
      a6 / 720 * (61 - 58 * latTan2 + latTan4 + 600 * c - 330 * E_P2)));
    if (latitude < 0) northing += 1e7;

    return {
      easting: easting,
      northing: northing,
      zoneNum: zoneNum,
      zoneLetter: zoneLetter
    };
  }

  function latitudeToZoneLetter(latitude) {
    if (-80 <= latitude && latitude <= 84) {
      return ZONE_LETTERS[Math.floor((latitude + 80) / 8)];
    } else {
      return null;
    }
  }

  function latLonToZoneNumber(latitude, longitude) {
    if (56 <= latitude && latitude < 64 && 3 <= longitude && longitude < 12) return 32;

    if (72 <= latitude && latitude <= 84 && longitude >= 0) {
      if (longitude <  9) return 31;
      if (longitude < 21) return 33;
      if (longitude < 33) return 35;
      if (longitude < 42) return 37;
    }

    return Math.floor((longitude + 180) / 6) + 1;
  }

  function zoneNumberToCentralLongitude(zoneNum) {
    return (zoneNum - 1) * 6 - 180 + 3;
  }

  function toDegrees(rad) {
    return rad / Math.PI * 180;
  }

  function toRadians(deg) {
    return deg * Math.PI / 180;
  }




</script>

